<div class = "columns is-centered">
    <div class = "column is-two-thirds">

        <h1 class = "is-size-2 has-text-weight-bold mb-3">Tasks for Today</h1>

        <div class = "content">

            <% if @tasks_incomplete.length === 0 %>
                <h2 class = "is-size-3 mb-3">All clear!</h2>
                <br>
                <%= link_to 'Categories', categories_path, class: "button" %>
            <% else %>

                <table class = "table is-striped is-bordered is-fullwidth">
                    <thead>
                        <tr class="th is-selected">
                            <th>Category</th>
                            <th>Name</th>
                            <th>Details</th>
                            <th>Deadline</th>
                            <th>Started</th>
                            <th>Completed</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                    
                        <% @tasks_incomplete.each do |task| %>
                            <% category = Category.find(task.category_id) %>
                            <tr>
                                
                                <td><%= link_to category.name, category_path(category.id) %></td>
                                <td><%= link_to task.name, category_task_path(category.id, task.id) %></td>
                                <td><%= task.details %></td>
                                <td><%= task.deadline %></td>
                                <td><%= task.started %></td>
                                <td><%= task.completed %></td>
                                <td>
                                    <div class = "field is-grouped" >
                                        <div class = "control">
                                            <%= link_to 'Edit', edit_category_task_path(category.id, task.id), class: "button is-small is-warning" %>
                                        </div>
                                        <div class = "control">
                                            <%= link_to 'Delete', category_task_path(category.id, task.id), method: :delete, data: {confirm: "Are you sure?"}, class: "button is-small is-danger" %>
                                        </div>
                                        
                                    </div>
                                </td>
                                
                            </tr>

                        <% end %>

                            
                    </tbody>
                <table>
            <% end %>
        </div>
    </div>
</div>