<%= form_with method: :put, scope: :category, url: update_category_path(@category.id), local: true do |f| %>
    <p>
        <% if @category.errors.any? %>
            <ul>
                <% @category.errors.full_messages.each do |message| %>
                    <li style = "color: red">
                        <%= message%>
                    </li>
                <% end %>
            </ul>
        <% end %>
    </p>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </p>
    <p>
        <%= f.submit %>
    </p>
    <%= link_to 'Back to Categories', categories_path %>
<% end %>