<div class = "columns is-centered">
	<div class = "column is-half">
		<div class = "content">
			<h1 class = "is-size-2 has-text-weight-bold mb-3">Categories</h1>
			this is categories index
			<br>
			<%= link_to 'Add a Category', new_category_path(@category),  class: 'button is-info' %>
		</div>
    
		<div class = "container">
			<table class = "table is-striped is-bordered is-fullwidth">
    			<thead>
        			<tr class="th is-selected">
            
            			<th>Category</th>
            			<th>Description</th>
            			<th>Actions</th>
        			</tr>
    			</thead>

    			<tbody>
        			<% @categories.each do |category| %>
            		<tr>
                
						<td><%= link_to category.name, category_path(category) %></td>
                		<td><%= category.description %></td>
                		<td>
                    		<%= link_to 'Edit', edit_category_path(category), class: "button is-small is-warning" %>
                    		<%= link_to 'Delete', category_path(category), method: :delete, data: {confirm: "Are you sure?"}, class: "button is-small is-danger" %>
                		</td>
            		</tr>
        			<% end %>
    			</tbody>
			<table>
		</div>
	</div>
</div>